Alle Posts

<ul>
  <% @posts.each do |post| %>
    <li>
      <h2>
        <%= post.title %>
      </h2>
      <p>
        <%= link_to 'Post lesen', post_path(post) %>
        <%= link_to 'Post editieren', edit_post_path(post) %>
        <%= link_to 'Post löschen', post_path(post), method: 'DELETE', data: { confirm: 'Echt jetzt?' } %>
      </p>
    </li>
  <% end %>
</ul>
